
.swatch-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.swatch-container .mswatch{
	margin: 3px 6px;
    position: relative;
    width: auto;
    padding: 0;
}
.swatch-container input {
    display: none;
}
.swatch-container label {
    border: 3px solid #fff !important;
    display: inline-block !important;
    outline: none !important;
	box-shadow: 0 0 2px 1px rgb(0 0 0 / 20%);
	border-radius: 6px!important;
	color: rgb(116, 116, 116);
	cursor: pointer;
	width: 60px;
	height: 60px;
	background-color: transparent;
	overflow: hidden;
}
.swatch-container.hair label{
	overflow:hidden;
}
.swatch-container label img{
	width: 54px;
	height: 54px;
}
.swatch-container.hair label img,
.swatch-container.hair_beard label img{
	height:auto;
}
.swatch-container input:checked ~ label {
    border: #1871ed 3px solid!important;
}
.swatch-container input:checked~label:before,label.choosen:before {
    background-image: url(check-mark.svg);
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    display: block;
    content: ' ';
    position: absolute;
    top: 5px;
    background-color: transparent;
    right: 5px;
}
#productImageHolder{
	background: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif) no-repeat center;
}
#drawit {
	width:700px;
	height:741px;
    position: relative;
    overflow: hidden;
	margin: auto;transform-origin: 0 0;
}
#drawit img {
    max-width: 100%;
	position:absolute;
}
a#nextstep:focus, a#nextstep:hover {
    color: #ffffff!important;
}
.option_title {
    text-align: center;
    margin: 4px 0px;
    border-bottom: 1px solid #cccccc;
    text-transform: capitalize;
    padding: 5px 0px;
    font-weight: bold;
    font-size: medium;
}
.buy-page .prodRow .side-images img {
    margin-top: 5px;
}
.tab-designer li .carousel-thumbnail{
    margin-top: 8px;
}
/* Base styles for the element that has a c-tooltip */
[data-c-tooltip] {
  position: relative;
  cursor: pointer;
}
/* Base styles for the entire c-tooltip */
[data-c-tooltip]:before,
[data-c-tooltip]:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}
/* Show the entire c-tooltip on hover and focus */
[data-c-tooltip]:hover:before,
[data-c-tooltip]:hover:after,
[data-c-tooltip]:focus:before,
[data-c-tooltip]:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* Base styles for the c-tooltip's directional arrow */
[data-c-tooltip]:before {
	z-index: 1001;
	border: 6px solid transparent;
	background: transparent;
	content: "";
}
/* Base styles for the c-tooltip's content area */
[data-c-tooltip]:after {
	z-index: 1000;
	padding: 8px;
	width: 100px;
	background-color: #000;
	background-color: rgba(51, 51, 51, 0.9);
	color: #fff;
	content: attr(data-c-tooltip);
	font-size: 14px;
	line-height: 1.2;
	left:0!important;
	border-radius:5px;
}
/* Directions */
/* Top (default) */
[data-c-tooltip]:before,
[data-c-tooltip]:after {
	bottom: 100%;
	left: 50%;
}
[data-c-tooltip]:before{
	margin-left: -6px;
	margin-bottom: -12px;
	border-top-color: #000;
	border-top-color: rgba(51, 51, 51, 0.9);
}
div.dogs_container div.swatch-container{
	display:none;
}
div.dogs_container div.swatch-container.active{
	display:flex;
}

#rendering{
	color:#4ab742;
	text-align:center;
}
.lds {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #4ab742;
  animation: lds 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}